table {
  width: 100%;
}

.content {
  padding: 25px;
}

.upload {
  display: flex;

  justify-content: center;
  margin-bottom: 20px;
}

.button {
  display: flex;
  justify-content: end;
  margin-top: 25px;

  button {
    width: 150px;
  }
}
